Question 1 :
--
__Assuming that we have some email addresses in the "username@companyname.com" format, please
write a program to print the company name of a given email address. Both user names and company
names are composed of letters only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in a single line.
Example;
Input:
john@google.com
Output:
google.__

In [8]:
email=input()
for i in range(email.find("@")+1,email.find(".")):
    print(email[i],end="")

john@google.com
google

Question 2 :
--
__Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world__

In [5]:
words=input().split(',')
a=sorted(words)
print(','.join(a))

without,hello,bag,world
bag,hello,without,world

Question 3:
--
__Create your own Jupyter Notebook for Sets.__

Sets are unordered and unindexed, so every time the appearing order for the items cannot be the same, therefore the items in the set are cannot referred by index or key. Set only have unique element, no duplicate values.

In [2]:
s1={1,2,3,'a','b','c'}

In [3]:
#to add one item to a set add() method is used
print(s1)
s1.add(100)
print(s1)

{1, 2, 3, 'a', 'b', 'c'}
{1, 2, 3, 100, 'a', 'b', 'c'}

In [5]:
#to add more than 1 item update() method is used
print(s1)
s1.update('abc','def')#adds multiple items in the set
print(s1)
s1.add(200)#adds one item in the set
print(s1)
s1.remove('f')#removes the desired item
print(s1)
s2={'abc','def','ghi'}
print(s1.union(s2))#joins 2 sets
s3=s1.union(s2)
s4=s3.copy()#creates a duplicate set
print("s4=",s4)
s2.clear()#clears entire items of the set
print(s2)
print(s1.intersection(s4))#prints the common elements in both sets
print(len(s4))#prints the length of the set

{1, 2, 3, 100, 'e', 'a', 200, 'b', 'd', 'c'}
{1, 2, 3, 100, 'e', 'a', 200, 'b', 'd', 'c', 'f'}
{1, 2, 3, 100, 'e', 'a', 200, 'b', 'd', 'c', 'f'}
{1, 2, 3, 100, 'e', 'a', 200, 'b', 'd', 'c'}
{'def', 1, 2, 3, 100, 'e', 'a', 200, 'b', 'd', 'c', 'ghi', 'abc'}
s4= {'def', 1, 2, 3, 100, 'e', 'a', 200, 'b', 'd', 'c', 'ghi', 'abc'}
set()
{1, 2, 3, 100, 'e', 'a', 200, 'b', 'd', 'c'}
13

Question 4:
--
__Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 4 6 3 7 8
Output:
5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input__

In [4]:
def find_missing(m):
    for i in range(m[0],m[-1]):
        if i not in m:
            return i
numbers=input().split(' ')
l=[]
for n in numbers:
    l.append(int(n))
q=find_missing(sorted(l))
print(q)

1 2 4 6 3 7 8
5

Question 5:
--
__With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35__

In [5]:
def remove_duplicate(list1):
    list2=[]
    for i in list1:
        if i not in list2:
            list2.append(i)
    for j in list2:
        print(j,end=' ')
input1=input().split(' ')
list1=[]
for q in input1:
    list1.append(int(q))
remove_duplicate(list1)

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155